<link rel="stylesheet" href="/css/estimate.css">
<div class="content" style="--width: 45rem; margin-left: 1svi; margin-right: 1svi;">
    <form>
        <h1 style="text-align: center; width: 99%">Estimate</h1>
        <h3>Size:</h3>
        <div name="size" id="size">
            <input type="number" name="width" id="w" value="40" pattern="[0-9]+" onchange="update();" style="display: inline-block; height: 1.75rem; width: 5rem; margin-right: 0;">
            <div style="display: inline-block; font-size: 1.25rem">ft x</div>
            <input type="number" name="length" id="l" value="40" pattern="[0-9]+" onchange="update();" style="display: inline-block; height: 1.75rem; width: 5rem; margin-right: 0;">
            <div style="display: inline-block; font-size: 1.25rem">ft x</div>
            <input type="number" name="height" id="h" value="12" pattern="[0-9]+" onchange="update();" style="display: inline-block; height: 1.75rem; width: 5rem; margin-right: 0;">
            <div style="display: inline-block; font-size: 1.25rem">ft</div>
        </div>
        <h3>Color:</h3>
        <select name="color" id="c" style="width: 10rem; height: 2rem; padding:0;">
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Purple">Purple</option>
            <option value="Black">Black</option>
            <option value="Gray">Gray</option>
            <option value="Beige">Beige</option>
        </select>
        <h3>Wainscoting color:</h3>
        <select name="wainscoting_color" id="wc" style="width: 10rem; height: 2rem; padding:0;">
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Purple">Purple</option>
            <option value="Black">Black</option>
            <option value="Gray">Gray</option>
            <option value="Beige">Beige</option>
        </select>
        <h3>#Windows:</h3>
        <input type="number" name="windows" id="wi" value="1" pattern="[0-9]+" style="display: inline-block; height: 1.75rem; width: 5rem; margin-right: 0;">
        <h3>#Doors:</h3>
        <input type="number" name="doors" id="d" value="1" pattern="[0-9]+" style="display: inline-block; height: 1.75rem; width: 5rem; margin-right: 0;">
        <h3>#Garages:</h3>
        <input type="number" name="garages" id="g" value="0" pattern="[0-9]+" style="display: inline-block; height: 1.75rem; width: 5rem; margin-right: 0;">
        <h3>Porch?:</h3>
        <select name="porch" id="p" style="width: 10rem; height: 2rem; padding:0;" onchange="update()">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select>
        <div id="has_porch">
            <h3>Porch size:</h3>
            <div name="size" id="size">
                <input type="number" name="width" id="pw" value="30" pattern="[0-9]+" onchange="update();" style="display: inline-block; height: 1.75rem; width: 5rem; margin-right: 0;">
                <div style="display: inline-block; font-size: 1.25rem">ft x</div>
                <input type="number" name="length" id="pl" value="10" pattern="[0-9]+" onchange="update();" style="display: inline-block; height: 1.75rem; width: 5rem; margin-right: 0;">
                <div style="display: inline-block; font-size: 1.25rem">ft x</div>
                <input type="number" name="height" id="ph" value="8" pattern="[0-9]+" onchange="update();" style="display: inline-block; height: 1.75rem; width: 5rem; margin-right: 0;">
                <div style="display: inline-block; font-size: 1.25rem">ft</div>
            </div>
        </div>
        <br>
        <div class="bar"></div>
        <br>
        <div id="calc" style="font-size: 1rem"></div>
        <br>
        <div class="bar"></div>
        <br>
        <h3>Full Name:</h3>
        <input type="text" name="name" id="name" required autocomplete="on" style="display: inline-block; height: 1.75rem; width: 14rem; margin-right: 0;">
        <h3>Phone number:</h3>
        <input type="text" name="phone" id="phone" placeholder="4050000000" required pattern="^[0-9]{4}$" autocomplete="on" style="display: inline-block; height: 1.75rem; width: 14rem; margin-right: 0;">
        <h3>Email:</h3>
        <input type="text" name="email" id="email" required pattern="^\S+@\S+.\S+$" autocomplete="on" style="display: inline-block; height: 1.75rem; width: 14rem; margin-right: 0;">
        <input type="button" class="button" style="margin-top:1rem; margin-bottom: 1rem;" value="Download PDF" onclick="download()">
    </form>
    <h3>
        To send this estimate to us, press "Download PDF" and,
        <br>on computer, simply press "Save",
        <br>and on your phone, after pressing download, click <img style="height: 1rem; width: 1rem; display: inline-block;" src="/img/upload.png"></img> in the top right, scroll down, and save to files.
        <br>then email it to us at <a style="display: inline-block;" href="mailto:byfordandsons@gmail.com">byfordandsons@gmail.com</a>
    </h3>
</div>
<h1 class="onprint" id="onprint" style="font-weight: normal;">
    <img class="onprint" style="width: 50svw; aspect-ratio: 4.5;" src="/img/headerlogo.png" >
    <br>
    <img class="onprint bar90" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAD0lEQVR4AQEEAPv/AAAAAAAEAAFlScNgAAAAAElFTkSuQmCC">
    <br>Name: <div class="onprint bold" id="p_name"></div>
    <br>Phone: <div class="onprint bold" id="p_phone"></div>
    <br>Email: <div class="onprint bold" id="p_email"></div>
    <br>
    <br>Size: <div class="onprint bold" id="p_s"></div>
    <br>Base Price: <div class="onprint bold" id="p_price"></div>
    <br>#Windows: <div class="onprint bold" id="p_wi"></div>
    <br>#Doors: <div class="onprint bold" id="p_d"></div>
    <br>#Garages: <div class="onprint bold" id="p_g"></div>
    <br>Color: <div class="onprint bold" id="p_c"></div>
    <br>Wainscoting color: <div class="onprint bold" id="p_wc"></div>
    <br>Porch?: <div class="onprint bold" id="p_p"></div>
</h1>
<script>
    const tab = "&emsp;&emsp;";
    function round(num) { return Math.round(num*100)/100; }
    const rate = 30;
    function update() {
        const width = parseFloat(document.getElementById("w").value);
        const length = parseFloat(document.getElementById("l").value);
        const p_width = parseFloat(document.getElementById("pw").value);
        const p_length = parseFloat(document.getElementById("pl").value);
        const porch = ((document.getElementById("p").value) === "Yes");
        if (porch) document.getElementById("has_porch").style="";
        else document.getElementById("has_porch").style="width: 0px; height: 0px; overflow: hidden;";
        const sqft = width*length + p_width*p_length;
        const bid = sqft*rate;
        const el = document.getElementById("calc");
        el.innerHTML = "<div style=\"display:inline-block; font-weight: bold\">~ $" + round(bid) + "</div> total."
        el.innerHTML += "<br>" + tab + round(sqft) + "sqft * " + rate + "$/sqft = $" + round(bid) + " for starting rate";
        el.innerHTML += "<br>" + tab.repeat(2) + width + "ft*" + length + "ft = " + round(width*length) + " sqft in building";
        el.innerHTML += "<br>" + tab.repeat(2) + p_width + "ft*" + p_length + "ft = " + round(p_width*p_length) + " sqft in porch";
    }
    update();
    function download() {
        const width = parseFloat(document.getElementById("w").value);
        const length = parseFloat(document.getElementById("l").value);
        const height = parseFloat(document.getElementById("h").value);
        const color = document.getElementById("c").value;
        const wainscote = document.getElementById("wc").value;
        const windows = document.getElementById("wi").value;
        const doors = document.getElementById("d").value;
        const garages = document.getElementById("g").value;
        const porch = document.getElementById("p").value;
        const p_width = parseFloat(document.getElementById("pw").value);
        const p_length = parseFloat(document.getElementById("pl").value);
        const p_height = parseFloat(document.getElementById("ph").value);
        const sqft = width*length + p_width*p_length;
        const bid = sqft*rate;
        const name = document.getElementById("name").value;
        if (name.length == 0) { document.getElementById("name").reportValidity(); return; }
        const phone = document.getElementById("phone").value;
        if (!((/^[0-9]{10}$/g).test(phone)))  { document.getElementById("phone").reportValidity(); return; }
        const email = document.getElementById("email").value;
        if (!((/^\S+@\S+.\S+$/g).test(email)))  { document.getElementById("email").reportValidity(); return; }

        document.getElementById("p_name").innerHTML = name;
        document.getElementById("p_phone").innerHTML = "(" + phone.substring(0, 3) + ") " + phone.substring(3, 6) + "-" + phone.substring(6, 10);
        document.getElementById("p_email").innerHTML = email;
        document.getElementById("p_s").innerHTML = width + "x" + length + "x" + height;
        document.getElementById("p_price").innerHTML = "$" + bid;
        document.getElementById("p_c").innerHTML = color;
        document.getElementById("p_wc").innerHTML = wainscote;
        document.getElementById("p_wi").innerHTML = windows;
        document.getElementById("p_d").innerHTML = doors;
        document.getElementById("p_g").innerHTML = garages;
        document.getElementById("p_p").innerHTML = porch;
        if (porch === "Yes") document.getElementById("onprint").innerHTML += "<br>Porch size: <div class=\"onprint bold\" id=\"p_ps\">" + p_width + "x" + p_length + "x" + p_height + "</div>";
        window.print();
    }
</script>