<link rel="stylesheet" href="/css/index.css">
<script>
    fetchJson("/photosIndex").then((data) => {
        const { photos } = data;
        for (let i = 0; i < photos.length; i++)
            document.getElementById("recent").innerHTML += "<img src=\"/img/photos/" + photos[i] + "\">";
    });
</script>
<div class="cover">
    <span>You Dream It, We Build It!</span>
</div>
<div class="action">
    <h2 class="title">Bids starting at $30 a sq ft!</h2>
    <input type="button" class="button" value="Get your Free estimate!">
</div>
<div class="about">
    <h2 class="title">About us</h2>
    <p class="body">
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <br>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <br>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <br>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <br>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    </p>
</div>
<div class="contact">
    <h2 class="title">Contact us</h2>
    <p class="body">
        Submit a building request by pressing "Get your Free estimate!" and selecting the option that fit your needs,
        <br>email us at <a href="mailto:byfordandsons@gmail.com">byfordandsons@gmail.com</a>,
        <br>or give us a call at at <a href="tel:+14055497980">(405) 549-7980</a>
    </p>
</div>
<div class="grid">
    <div class="grid-item">
        <h1>Shops</h1>
        <img src="/img/shops.jpg">
    </div>
    <div class="grid-item">
        <h1>Garages</h1>
        <img src="/img/garages.jpg">
    </div>
    <div class="grid-item">
        <h1>Houses</h1>
        <img src="/img/houses.jpg">
    </div>
    <div class="grid-item">
        <h1>Doors & Windows</h1>
        <img src="/img/doors.jpg">
    </div>
    <div class="grid-item">
        <h1>Roofing</h1>
        <img src="/img/roofing.jpg">
    </div>
    <div class="grid-item">
        <h1>Handrails</h1>
        <img src="/img/handrails.jpg">
    </div>
</div>
<div class="recent">
    <h2 class="title">Recent builds:</h2>
    <div class="content w-wide photos" id="recent"></div>
</div>